#controller {
    background-color: #32323A;
    color: white;
    height: 100vh;
}

#container1 {
    width: 95%;
    height: 95vh;
    top: 25px;
    margin: auto;
    position: absolute;

}
#container2 {
    width: 95%;
    height: 95vh;
    top: 25px;
    margin: auto;
    position: absolute;
}

.jumbotron{

}
.img-rounded{
    width: 150px;
    height: 150px;
}
#pop1{
    z-index: 3;
}
#pop2{
    z-index: 4;
}
.zoom-section1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.zoom-section1 button {
    margin-right: 5px;
}
.zoom-section2 {
    position: absolute;
    bottom: 0;
    left: 660px;
    z-index: 100;
}
.zoom-section2 button {
    margin-right: 5px;
}

#table {
    text-align: center;
}